
extends layout

block content
    script(src='main.js')
    h1 Mensajes
    #messages
    br
    form( onsubmit='return addMessage(this)')
      input#username(type='text', placeholder='Tu Nombre')
      input#texto(type='text', placeholder='Cuéntanos algo...')
      input(type='submit', value='Enviar!')
