//
   Created by jasmo2 on 3/10/16.
extends layout

block content
    h1 Latidos
        h1 Localizacion
        #messages
        br
        form(onsubmit='return addMessage(this)')
            input#IdMascota(type='text', placeholder='IdMascota')
            input#IdCollar(type='text', placeholder='IdCollar')
            input#IdUsuario(type='text', placeholder='IdUsuario')
            input#Latitud(type='text', placeholder='Latitud')
            input#Longitud(type='text', placeholder='Longitud')
            input#Fecha(type='text', placeholder='Fecha')
            input(type='submit', value='Enviar!')
