
//
   Created by jasmo2 on 3/10/16.
extends layout
block content
    script(src='mainVerLocalizacion.js')
    h1 VerLocalizacion
    #messages
    #messagesrespuesta
    br
    form(onsubmit='return addVerLocalizacion(this)')
        input#IdMascota(type='text', placeholder='IdMascota')
        input#IdCollar(type='text', placeholder='IdCollar')
        input#IdUsuario(type='text', placeholder='IdUsuario')
        input(type='submit', value='Enviar!')
